# Arquivos e diretórios específicos do Node.js
node_modules
npm-debug.log

# Arquivos e diretórios específicos do Next.js
.next

# Arquivos específicos do versionamento (Git)
.git
.gitignore

# Outros arquivos e diretórios que não são necessários no contêiner Docker
.DS_Store
.env
*.log
